body {
    background-color: rgb(144, 153, 14);
    font-family: cursive;
}
.body-div-navigation{
    background-color: blue;
    border: 20px;
    border-color: deepskyblue;
}
.nav-id:hover{
    position: relative;
    background-color: rgb(251, 255, 0);
}
.nav-id2:hover{
    position: relative;
    background-color: orangered;
    background-position: right;
}