<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
    {% if title %}
        <title>FlaskBlog - {{ title }}</title>
    {% else %}
        <title>FlaskBlog</title>
    {% endif %}
</head> 
<body>
    <header class='nav-header'>
        <div class = 'nav-div'>
            <nav class = 'navigation'>
                <div class='nav-class1'>
                    <a class= 'nav-class' href = {{ url_for('home')}}>Home</a>
                    <a class = 'nav-class'href = {{ url_for('about')}}>About</a>
                </div>
                <div class = 'nav-class2'>
                    <a class = 'nav-class'href = {{ url_for('login')}}>Log In</a>
                    <a class = 'nav-class'href = {{ url_for('registration')}}>Registration</a>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <div class = 'flashed-messages'>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        {% block content %} {% endblock %}
    </main>
</body>
</html>