{% extends 'layout.html' %}
{% block content %}
    <h class='header'>This is the Login page</h>
    <div class='form'>
        <form method='POST' action = "">
            {{ form.hidden_tag() }}
            <fieldset class='fieldset'>
                <legend class='legend'>  Login </legend>
                <div class = 'form-curly'>  
                    {{ form.email.label(class_ ='control-label') }}
                    <div>
                        {% if form.email.errors %}
                            {{ form.email(class_='control-field-error') }}
                            <div>
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else%}
                            {{ form.email(class_='control-field') }}
                        {% endif %}
                    </div>
                </div>
                <div class = 'form-curly'>
                    {{ form.password.label(class_ ='control-label') }}
                    <div>
                        {% if form.password.errors %}
                            {{ form.email(class_='control-field-error') }}
                            <div>
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class_='control-field') }}
                        {% endif %}
                    </div>
                </div>
                <div class='remember'>
                    {{ form.remember.label(class_='control-label-remember') }}
                    {{ form.remember(class_='remember-field') }}
                </div>
            </fieldset>
            <div class='submit'>
                {{ form.submit(class_='submit-button') }}               
            </div>

        </form>
        <div class='here'>
            <p>Need an account?Click <a href = {{ url_for('registration') }}>here</a></p>
    </div>        
{% endblock %}