{% extends 'layout.html' %}
{% block content %}
    <h class='header'>This is the Registration page</h>
    <div class='form'>
        <form method='POST' action = "">
            {{ form.hidden_tag() }}
            <fieldset class='fieldset'>
                <legend class='legend'>  Registration </legend>
                <div class = 'form-curly'>  
                    {{ form.username.label(class_ ='control-label') }}
                    <div>
                        {% if form.username.errors %}
                            {{ form.username(class_='control-field-error') }}
                            <div>
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.username(class_='control-field') }}
                        {% endif %}
                    </div>
                </div>
                <div class = 'form-curly'>  
                    {{ form.email.label(class_='control-label') }}
                    <div>
                        {% if form.email.errors %}
                            {{ form.email(class_='control-field-error') }}
                            <div>
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class_='control-field') }}
                        {% endif %}
                    </div>
                </div>
                <div class = 'form-curly'>
                    {{ form.password.label(class_='control-label') }}
                    <div>
                        {% if form.password.errors %}
                            {{ form.email(class_='control-field-error')}}
                            <div>
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class_='control-field') }}
                        {% endif %}
                    </div>
                </div>
                <div class = 'form-curly'>
                    {{ form.confirm_password.label(class_='control-label') }}
                    <div>
                        {% if form.confirm_password.errors %}
                            {{ form.confirm_password(class_='control-field-error')}}
                            <div>
                                {% for error in form.confirm_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.confirm_password(class_='control-field') }}
                        {% endif %}
                    </div>
                </div>
            </fieldset>
                <div class='submit'>
                    {{ form.submit(class_='submit-button') }}
                </div>
        </form>
        <div class='here'>
            <p>Already have an account? Click <a href = {{ url_for('login')}}>here</a></p>
        </div>
    </div>        
{% endblock %}