{% extends 'layout.html' %}
{% block content %}
<div>
    <div>
        <img src= '{{ image_file }}'>
    </div>
    <div>
        <a href={{url_for('users.user_page', username=current_user.username)}}><h2>{{ current_user.username }}</h2></a>
        <h3>{{ current_user.email}}</h3>
    </div>
</div>
<div>
    <form method='POST' action='' enctype='multipart/form-data'>
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Update Account Details</legend>
            <div>
                {{ form.username.label }}
                <div>
                    {% if form.username.errors %}
                        {{ form.username }}
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                    {% else %}
                        {{form.username }}
                    {% endif %}
                </div>
            </div>
            <div>
                {{ form.email.label}}
                <div>
                    {% if form.email.errors %}
                        {{ form.email }}
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                    {% else %}
                        {{form.email}}
                    {% endif %}
                </div>
            </div>
            <div>
                {{ form.image.label }}
                {{ form.image }}
                {% if form.image.errors %}
                    {% for error in form.image.errors %}
                        <br><span>{{ error }}</span>
                    {% endfor%}
                {% endif %}
            </div>
        </fieldset>
        <div>
            {{ form.submit}}
        </div>
    </form>
</div>
{% endblock %}