{% extends 'layout.html' %}
{% block content %}
    <div>
        <h1>This is the Home page</h1>
    </div>
    <div>
        <article>
            {% for post in post.items %}
                <div>
                    <div>
                        <img src='{{ url_for('static', filename='profilepic/{}'.format(post.author.image)) }}'>
                    </div>
                    <div>
                        <a href={{url_for('users.user_page', username=post.author.username)}}>{{ post.author.username }}</a>
                        <small>{{ post.date_posted.strftime('%Y-%m-%d')}}</small>
                    </div>
                    <div>
                        <h3><a href={{ url_for('posts.edit_post', post_id=post.id)}}>{{ post.title }}</a></h3>
                        <p>{{ post.content}}</p>
                    </div>
                </div>
            {% endfor %}
        </article>
        {% for page_num in post.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2)%}
            {% if page_num %}
                {% if post.page == page_num %}
                    <a href={{url_for('main.home', page=page_num)}}>{{page_num}}</a>
                {%else %}
                    <a href={{url_for('main.home', page=page_num)}}>{{page_num}}</a>
                {% endif %}
            {% else %}
            ...
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}