{% extends 'layout.html' %}
{% block content %}
    <div class='form2'>
        <form method='POST' action = "">
            {{ form.hidden_tag() }}
            <fieldset class='fieldset'>
                <legend class='legend'>{{legend}}</legend>
                <div class='form-curly'>
                    {{ form.title.label(class_='control-label')}}
                    {% if form.title.errors %}
                        {{form.title(class_='control-field-error') }}
                        <div>
                            {% for error in form.title.errors%}
                                <span class='error'>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {%else %}
                        {{ form.title(class_='control-field') }}
                    {% endif %}
                </div>
                <div class='form-curly'>
                    {{ form.content.label(class_='control-label')}}
                    {% if form.content.errors %}
                        {{ orm.content(class_='control-field-error')}}
                        <div>
                            {% for error in form.content.errors%}
                                <span class='error'>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {%else %}
                        {{ form.content(class_='control-field') }}
                    {% endif %}
                </div>
            </fieldset>
            <div class='submit'>
                {{ form.submit(class_='submit-button')}}
            </div>
        </form>
    </div>
{% endblock  %}