{% extends 'layout.html' %}
{% block content%}
    <div>
        <h1>{{ user.username }} ({{post.total}})</h1>
    </div>
    <div>
        <article>
            {% for post in post.items %}
                <div>
                    <img src={{ url_for('static', filename='profilepic/{}'.format(post.author.image))}}>
                    <div>
                        <a href={{url_for('users.user_page', username=post.author.username)}}><h3>{{ post.author.username}}</h3></a>
                        <small>{{ post.date_posted.strftime('%Y-%m-%d')}}</small>
                    </div>
                    <div>
                        <a href={{url_for('posts.edit_post', post_id=post.id)}}><h3>{{ post.title }}</h3></a>
                        <p>{{ post.content }}</p>
                    </div>
                </div>
            {% endfor %}
        </article>
        {% for page_num in post.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2)%}
            {% if page_num %}
                {% if post.page == page_num %}
                    <a href={{ url_for('users.user_page', username=user.username, page=page_num)}}>{{ page_num }}</a>
                {% else %}
                    <a href={{ url_for('users.user_page', username=user.username, page=page_num)}}>{{ page_num }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}